[submodule "extern/CLI11"]
	path = extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "extern/StormLib"]
	path = extern/StormLib
	url = https://github.com/ladislav-zezula/StormLib.git
