name: Release

on:
  workflow_call

permissions:
  contents: write
  packages: write

jobs:
  release_binaries:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Download Linux GLIBC binary
        uses: actions/download-artifact@v5
        with:
          name: mpqcli-linux-amd64-glibc

      - name: Download Linux MUSL binary
        uses: actions/download-artifact@v5
        with:
          name: mpqcli-linux-amd64-musl

      - name: Download Linux ARM64 GLIBC binary
        uses: actions/download-artifact@v5
        with:
          name: mpqcli-linux-arm64-glibc

      - name: Download Linux ARM64 MUSL binary
        uses: actions/download-artifact@v5
        with:
          name: mpqcli-linux-arm64-musl

      - name: Download Windows binary
        uses: actions/download-artifact@v5
        with:
          name: mpqcli-windows-amd64.exe

      - name: Extract latest changelog section
        id: changelog
        run: |
          CHANGELOG_CONTENT=$(awk '/^## /{i++} i==1{print}' CHANGELOG.md | tail -n +2)
          echo "content<<EOF" >> $GITHUB_OUTPUT
          echo "$CHANGELOG_CONTENT" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Release package
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            mpqcli-linux-amd64-glibc
            mpqcli-linux-amd64-musl
            mpqcli-linux-arm64-glibc
            mpqcli-linux-arm64-musl
            mpqcli-windows-amd64.exe
          body: ${{ steps.changelog.outputs.content }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release_docker:
    runs-on: ubuntu-latest
    steps:
      - name: Download Docker image artifact
        uses: actions/download-artifact@v5
        with:
          name: mpqcli-docker

      - name: Load Docker image
        run: |
          docker load -i mpqcli-docker.tar

      - name: Extract version without "v"
        id: version
        run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV

      - name: Tag Docker image with version
        run: |
          docker tag mpqcli ghcr.io/thegraydot/mpqcli:${{ env.VERSION }}
          docker tag mpqcli ghcr.io/thegraydot/mpqcli:latest

      - name: Push Docker image to GitHub Container Registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker push ghcr.io/thegraydot/mpqcli:${{ env.VERSION }}
          docker push ghcr.io/thegraydot/mpqcli:latest
