name: Release

on:
  workflow_call

permissions:
  contents: write

jobs:
  release_all:
    runs-on: ubuntu-latest
    steps:
      - name: Download Linux binary
        uses: actions/download-artifact@v4
        with:
          name: mpqcli-linux

      - name: Download Windows binary
        uses: actions/download-artifact@v4
        with:
          name: mpqcli-windows.exe

      - name: Release package
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            mpqcli-linux
            mpqcli-windows.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
