name: Test

on:
  workflow_call

permissions:
  contents: write

jobs:
  test_linux:
    strategy:
      matrix:
        include:
          # AMD64 tests on ubuntu-24.04
          - arch: amd64
            libc: glibc
            runner: ubuntu-24.04
          - arch: amd64
            libc: musl
            runner: ubuntu-24.04
          # ARM64 tests on ubuntu-24.04-arm
          - arch: arm64
            libc: glibc
            runner: ubuntu-24.04-arm
          - arch: arm64
            libc: musl
            runner: ubuntu-24.04-arm

    runs-on: ${{ matrix.runner }}
    steps:
      # Only need repo content to install test/requirements.txt
      - name: Check out repository code
        uses: actions/checkout@v5
        with:
          submodules: false

      - name: Download Linux binary (${{ matrix.arch }} ${{ matrix.libc }})
        uses: actions/download-artifact@v6
        with:
          name: mpqcli-linux-${{ matrix.arch }}-${{ matrix.libc }}
          path: build/bin

      - name: Rename binary to "mpqcli"
        run: mv build/bin/mpqcli-linux-${{ matrix.arch }}-${{ matrix.libc }} build/bin/mpqcli

      - name: Make binary executable
        run: chmod +x ./build/bin/mpqcli

      - name: Check mpqcli version (${{ matrix.arch }} ${{ matrix.libc }})
        run: ./build/bin/mpqcli version

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r test/requirements.txt

      - name: Run tests (${{ matrix.arch }} ${{ matrix.libc }})
        run: |
          python3 -m pytest test

  test_windows:
    runs-on: windows-2022
    steps:
      # Only need repo content to install test/requirements.txt
      - name: Check out repository code
        uses: actions/checkout@v5
        with:
          submodules: false

      - name: Download Windows binary
        uses: actions/download-artifact@v6
        with:
          name: mpqcli-windows-amd64.exe
          path: build/bin/Release

      - name: Rename binary to "mpqcli"
        run: mv build/bin/Release/mpqcli-windows-amd64.exe build/bin/mpqcli.exe

      - name: Check mpqcli version
        run: ./build/bin/mpqcli.exe version

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r test/requirements.txt

      - name: Run tests
        run: |
          python -m pytest test
